@font-face {
  font-family: "iconfont";
  /* Project id 2485328 */
  src: url('iconfont.woff2?t=1655283564445') format('woff2'),
    url('iconfont.woff?t=1655283564445') format('woff'),
    url('iconfont.ttf?t=1655283564445') format('truetype');
}

.iconfont-new {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e60a";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}
